.avatar {
  width: px-to-rem(50px);
  height: px-to-rem(50px);
  border-radius: px-to-rem(50px);

  &-chat {
    width: px-to-rem(200px);
    height: px-to-rem(200px);
    border-radius: px-to-rem(100px);
  }

  &-profile {
    width: px-to-rem(90px);
    height: px-to-rem(90px);
    margin-top: px-to-rem(16px);
    border-radius: px-to-rem(100px);
  }
}