.avatar {
  width: px-to-rem(50px);
  height: px-to-rem(50px);
  border-radius: px-to-rem(50px);

  &-chat {
    width: px-to-rem(200px);
    height: px-to-rem(200px);
    border-radius: px-to-rem(100px);
  }
}