.contact {
  $block: &;

  &-name {
    @include text-truncate();
    color: map-get($map: $theme-colors, $key: "dark");
    font-weight: bold;
  }

  &-status {
    @include text-truncate();
    color: map-get($map: $grays, $key: "600");
    font-size: $small-font-size;
  }

  &:hover {
    color: white;
    background-color: map-get($map: $theme-colors, $key: "primary");
    cursor: pointer;
    text-decoration: none;

    #{$block}-name, 
    #{$block}-status {
      color: white;
    }
  }
}