.message {
  $block: &;
  padding: px-to-rem(20px);

  &-name {
    @include text-truncate();
    color: map-get($map: $theme-colors, $key: "dark");
    font-weight: bold;
  }

  &-text {
    @include text-truncate();
    color: map-get($map: $grays, $key: "600");
    font-size: $small-font-size;
  }

  &-time {
    color: map-get($map: $grays, $key: "600");
    font-size: $small-font-size;
  }

  &:hover {
    color: white;
    background-color: map-get($map: $theme-colors, $key: "primary");
    cursor: pointer;
    text-decoration: none;

    #{$block}-name, 
    #{$block}-text,
    #{$block}-time {
      color: white;
    }
  }
}