.profile {
  &-status {
    color: map-get($map: $grays, $key: "600");
  }
  &-data {
    margin: px-to-rem(56px 16px 0 16px);

    &-item {
      padding: px-to-rem(14px 14px 12px 19px);
    }
  }
}
