- var currentSection = 'chat'

include ./components/mixin.pug
doctype html
html.h-100(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/app.css')
    title Мессенджер «Hexlet Chat» Чурилова Мария
  body.h-100.p-md-4.bg-gray
    .container-xxl.h-100.bg-white.border-md.border-gray.radius-16.p-0
      .row.h-100.m-0.p-0
        .col-md-4.h-100.p-0.d-flex.flex-column.border-end.border-gray
          include ./components/header.pug
        .col.h-100.w-100.p-0.d-none.d-md-flex.flex-column.hide-scrollbar
          include ./components/active-chat.pug
    script(src='/js/script.js')