include ./components/mixin.pug
doctype html
html.h-100(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/app.css')
    title Мессенджер «Hexlet Chat» Чурилова Мария
  body.h-100.p-md-4.bg-gray
    .container-xxl.h-100.bg-white.border.border-gray.rounded-xxl.p-0.overflow-hidden
      .row.h-100.m-0.p-0
        .col-4.p-0.border.border-gray.overflow-auto.side-bar
          include ./components/header.pug
        .col
          include ./components/unactive-chat.pug
    script(src='/js/script.js')
          

  

        
          



