.w-100.flex-grow-1.sticky-top.bg-white.radius-right-top-md
  +block('Вениамин Редакторович', '../images/avatar_4.jpg', 'Онлайн')(class="shadow-none border-bottom mt-none")
.d-flex.flex-column.p-5.w-100.h-100.hide-scrollbar
  include ./chat-messages.pug
  each message in messages
    if message.name
      div.d-flex.justify-content-start.align-items-end.mb-3.w-100
        +message(message.avatar, message.name, message.text, message.time)
    else 
      div.d-flex.justify-content-end.align-items-end.mb-3.w-100
        +message(message.avatar, message.name, message.text, message.time)
.chat-message.mx-md-5.p-2.border-top.bg-white
  input-group.d-flex(action="/")
      input.form-control.border-top-0.border-end-0.border-start-0.border-bottom-0.bg-white.shadow-none.bg-white(type="search", placeholder="Напишите сообщение...")
      button.btn.btn-primary.radius-50.w-50p.h-50p(type="button")
        +icon('cursor') 