.chat-header.w-100.flex-grow-1.sticky-top.bg-white
  +block('Вениамин Редакторович', '../images/avatar_4.jpg', 'Онлайн')(class="shadow-none border-bottom mt-0")
.chat-dialog.d-flex.flex-column.p-5
  -
    var messages = [
      {
        avatar: "/images/avatar_4.jpg",
        name: "Вениамин Редакторович",
        text: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
        time: "8 минут назад"
      },
      {
        avatar: "/images/avatar_1.jpg",
        text: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
        time: "5 минут назад"
      },
      {
        avatar: "/images/avatar_4.jpg",
        name: "Вениамин Редакторович",
        text: "Лады",
        time: "5 минут назад"
      },
      {
        avatar: "/images/avatar_1.jpg",
        text: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
        time: "3 минуты назад"
      },
      {
        avatar: "/images/avatar_4.jpg",
        name: "Вениамин Редакторович",
        text: "о_О",
        time: "Только что"
      },
    ]
  each message in messages
    if message.name
      message-box.d-flex.justify-content-start.align-items-end.mb-3
        +message(message.avatar, message.name, message.text, message.time)
    else 
      message-box.d-flex.justify-content-end.align-items-end.mb-3
        +message(message.avatar, message.name, message.text, message.time)
.chat-message