.header.bg-primary.d-flex
  img.logo(src="../sprite/logo.svg")
  ul.nav.nav-pills
    li.nav-item
      a.nav-link.active(href="#") Icon Контакты
    li.nav-item
      a.nav-link(href="#") Icon Сообщения
    li.nav-item
      a.nav-link(href="#") Icon Профиль