+block('Вениамин Редакторович', '../images/avatar_4.jpg', 'o_O', '11:45')
+block('Джедай Падаванов', '../images/avatar_2.jpg', 'Привет, скоро третий проект? Уже скоро надо будет выложить', '10:12')
+block('Алексей Примадонин', '../images/avatar_3.jpg', 'Тесты упали >_<', '08:53')