.profile-user.card.border-0.text-center.py-3.mb-3
  img.avatar-profile.text-center.mx-auto.card-img-top(src="../images/avatar_1.jpg", alt="Аватар")
  .card-body
    p.h6.card-title.mb-3.font-weight-bold Кодовёнок Хекслетович
    p.card-text.profile-status.text-center Милый и скромный помощник начинающих разработчиков. Люблю JavaScript