.profile-user.d-flex.flex-column.align-items-center
  img.avatar-profile(src="../images/avatar_1.jpg")
  p.mt-3.mb-3.font-weight-bold Кодовёнок Хекслетович
  p.profile-status.text-center Милый и скромный помощник начинающих разработчиков. Люблю JavaScript