.chat-window.w-100.h-100.d-flex.justify-content-center.align-items-center
  .chat-window-content.text-center
    img.avatar-chat(src="../images/avatar_1.jpg")
    p.mt-3.mb-0.font-weight-bold Привет, Кодовёнок
    p.m-0.text-muted Выбери чат, чтобы начать общаться