.chat-window.w-100.h-100.d-flex.justify-content-center.align-items-center
  .chat-window-content.text-center
    img.avatar-chat(src="../images/avatar_1.jpg")
    p Привет, Кодовёнок
    p Выбери чат, чтобы начать общаться